@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #f5f1e8;
  --foreground: #171717;
}

@font-face {
  font-family: "ABCFavoritMono-Bold";
  src: url("/fonts/ABCFavoritMono-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "ABCFavoritMono-Bold", sans-serif;
  text-transform: uppercase;
  background-color: var(--background);
  color: var(--foreground);
}