@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #f5f1e8;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, sans-serif;
}
